<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>LeaseUP</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Dashboard core CSS    -->
    <link href="/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/assets/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>

<body>
    {{{ body }}}
</body>
<!--   Core JS Files and PerfectScrollbar library inside jquery.ui   -->
<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
<!--  Forms Validations Plugin -->
<script src="/assets/js/jquery.validate.min.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="/assets/js/moment.min.js"></script>
<!--  Date Time Picker Plugin is included in this js file -->
<script src="/assets/js/bootstrap-datetimepicker.js"></script>
<!--  Select Picker Plugin -->
<script src="/assets/js/bootstrap-selectpicker.js"></script>
<!--  Checkbox, Radio, Switch and Tags Input Plugins -->
<script src="/assets/js/bootstrap-checkbox-radio-switch-tags.js"></script>
<!--  Charts Plugin -->
<script src="/assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/assets/js/bootstrap-notify.js"></script>
<!-- Sweet Alert 2 plugin -->
<script src="/assets/js/sweetalert2.js"></script>
<!-- Vector Map plugin -->
<script src="/assets/js/jquery-jvectormap.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHjFjooAs1h0hZBGxthjWqG5HlMgkCxOI"></script>
<!-- Wizard Plugin    -->
<script src="/assets/js/jquery.bootstrap.wizard.min.js"></script>
<!--  Datatable Plugin    -->
<script src="/assets/js/bootstrap-table.js"></script>
<!--  Full Calendar Plugin    -->
<script src="/assets/js/fullcalendar.min.js"></script>
<!-- Light Bootstrap Dashboard Core javascript and methods -->
<script src="/assets/js/light-bootstrap-dashboard.js"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="/assets/js/demo.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/newTenant.js"></script>
<!-- BACKGROUND IMAGE -->
<script type="text/javascript">
$().ready(function() {
    lbd.checkFullPageBackgroundImage();

    setTimeout(function() {
        // after 1000 ms we add the class animated to the login/register card
        $('.card').removeClass('card-hidden');
    }, 700)
});
</script>
<!-- DATE/TIME PICKERS ON ENTER TENANT MODAL -->
<script type="text/javascript">
$().ready(function() {
    // Init Sliders
    demo.initFormExtendedSliders();

    // Init DatetimePicker
    demo.initFormExtendedDatetimepickers();
});
</script>
<!-- LOAD CALENDAR -->
<script>
$().ready(function() {
    demo.initFullCalendar();
});
</script>
<!-- BOOTSTRAP TABLE -->
<script type="text/javascript">
var $table = $('#bootstrap-table');

function operateFormatter(value, row, index) {
    return [
        // '<a rel="tooltip" title="View" class="btn btn-simple btn-info btn-icon table-action view" href="javascript:void(0)">',
        // '<i class="fa fa-image"></i>',
        // '</a>',
        '<a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)">',
        '<i class="fa fa-edit"></i>',
        '</a>',
        '<a rel="tooltip" title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)">',
        '<i class="fa fa-remove"></i>',
        '</a>'
    ].join('');
}

$().ready(function() {

    $('.table-action.edit').on('click', function() {

    })

    window.operateEvents = {
        // 'click .view': function(e, value, row, index) {
        //     info = JSON.stringify(row);

        //     swal('You click view icon, row: ', info);
        //     console.log(info);
        // },
        'click .edit': function(e, value, row, index) {
            info = JSON.stringify(row);

            // SAVE TENANT ID FROM
            var thisId = row.id;

            // FIND TENANT INFO FROM ROW
            $.ajax({
                    method: "GET",
                    url: "/api/tenants/" + thisId
                })
                // Fill modal with tenant info
                .done(function(data) {
                    console.log(data);
                    data = data[0];
                    $('#modal--create').modal({
                        show: 'true'
                    });
                    $("#id").val(data.id);
                    $("#tenantName").val(data.tenantName);
                    $("#tenantSF").val(data.tenantSF);
                    $("#leaseStart").val(data.leaseStart);
                    $("#leaseEnd").val(data.leaseEnd);
                    $("#basePSF").val(data.basePSF);
                    $("#camPSF").val(data.camPSF);
                    $("#salesPSF").val(data.salesPSF);
                    $("#occupancy").val(data.occupancy);
                    $("#noticeDate").val(data.noticeDate);
                    $("#noticeRent").val(data.noticeRent);
                })

        },
        'click .remove': function(e, value, row, index) {

            console.log(row);
            console.log(row.id);

            // Save the id from the p tag
            var thisId = row.id;


            // FIND TENANT INFO FROM ROW
            $.ajax({
                    method: "DELETE",
                    url: "/api/remove/" + thisId
                })
                // Fill modal with tenant info
                .done(function(data) {
                    location.reload();
                })
        }
    };

    $table.bootstrapTable({
        toolbar: ".toolbar",
        clickToSelect: true,
        showRefresh: true,
        search: true,
        showToggle: true,
        showColumns: true,
        pagination: true,
        searchAlign: 'left',
        pageSize: 8,
        clickToSelect: false,
        pageList: [8, 10, 25, 50, 100],

        formatShowingRows: function(pageFrom, pageTo, totalRows) {
            //do nothing here, we don't want to show the text "showing x of y from..."
        },
        formatRecordsPerPage: function(pageNumber) {
            return pageNumber + " rows visible";
        },
        icons: {
            refresh: 'fa fa-refresh',
            toggle: 'fa fa-th-list',
            columns: 'fa fa-columns',
            detailOpen: 'fa fa-plus-circle',
            detailClose: 'fa fa-minus-circle'
        }
    });

    //activate the tooltips after the data table is initialized
    $('[rel="tooltip"]').tooltip();

    $(window).resize(function() {
        $table.bootstrapTable('resetView');
    });


});
</script>
<!-- FIND TOTAL, OCCUPIED, VACANT SF ON TABLES -->
<script type="text/javascript">
app.initFindOccupancy();
</script>
<!-- LOAD GOOGLE MAP -->
<script>
$().ready(function() {
    demo.initFullScreenGoogleMap();
});
</script>

</html>