<body>
    <!-- NAVBAR TOP -->
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">LeaseUP</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/signup">
                        Register
                    </a>
                    </li>
                    <li>
                        <a href="http://www.first-interstate.com/">
                        FIP Home
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- LOG IN FORM -->
    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" data-color="green" data-image="/assets/img/ouc.jpg">
            <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            <form id="signin" name="signin" method="post" action="signin">
                                <!--   if you want to have the card without animation please remove the ".card-hidden" class   -->
                                <div class="card card-hidden">
                                    <div class="header text-center">Login</div>
                                    <div class="content">
                                        <div class="form-group">
                                            <label>Email address</label>
                                            <input type="email" name="email" placeholder="Enter email" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" name="password" placeholder="Password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" value="Sign In" class="btn btn-fill btn-primary btn-wd">Sign In</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- OPTIONAL FOOTER -->
            <footer class="footer footer-transparent">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                        </ul>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
</body>