<body>

<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li>
                   <a href="/signin">
                        Looking to login?
                    </a>
                </li>
                <li>
                    <a href="http://www.first-interstate.com/">
                        FIP Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page">
    <div class="full-page register-page" data-color="blue" data-image="/assets/img/ouc.jpg">

    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="header-text">
                            <h2>LeaseUP</h2>
                            <h4>New users register for an account</h4>
                            <hr />
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <div class="media">
                            <div class="media-left">
                                <div class="icon">
                                    <i class="pe-7s-user"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4>User Accounts</h4>
                                Unique user logins with encrypted password protection
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-left">
                                <div class="icon">
                                    <i class="pe-7s-graph1"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4>Dashboard Metrics</h4>
                                Quickly summarize portfolio metrics into easy-to-read charts and graphs
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-left">
                                <div class="icon">
                                    <i class="pe-7s-cup"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4>Asset Management</h4>
                                Keep track of tenant leasing information such as rent and expiration dates
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-md-offset-s1">
                        <form id="signup" name="signup" method="post" action="/signup">
                            <div class="card card-plain">
                                <div class="content">
                                    <!-- FIRST NAME -->
                                    <div class="form-group">
                                        <input type="text" name ="firstname" placeholder="Your First Name" class="form-control">
                                    </div>
                                    <!-- LAST NAME -->
                                    <div class="form-group">
                                        <input type="text" name="lastname" placeholder="Your Last Name" class="form-control">
                                    </div>
                                    <!-- EMAIL -->
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Enter email" class="form-control">
                                    </div>
                                    <!-- PASSWORD -->
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password" class="form-control">
                                    </div>
                                </div>
                                <!-- SUBMIT -->
                                <div class="footer text-center">
                                    <button type="submit" value="Sign Up" class="btn btn-fill btn-success btn-wd">Create Account</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- OPTIONAL FOOTER -->
        <footer class="footer footer-transparent">
            <div class="container">
<!--                 <p class="copyright text-center">
                    &copy; 2017 <a href="">Julie Quinn</a>, made with love for FIP
                </p> -->
            </div>
        </footer>

    </div>

</div>

</body>